<!-- 201935222 김민석 -->
<% if (list.length === 0) { %>
    <p>자료 없음</p>
<% } else { %>
    <table class="table table-bordered">
        <% var i=0; while (i < list.length) { %>
        <tr>
            <td>
                <a href="/shop/detail/<%=list[i].mer_id%>">
                    <img src="<%=list[i].image%>" alt="<%=list[i].name%>">
                </a>
            </td>
            <td>
                <%=list[i].name%>
            </td>
            <td>
                <%=list[i].price%>
            </td>
            <td>
                <%=list[i].brand%>
            </td>
            <% if (id === 'u') { %>
            <td>
                <a href="/merchandise/update/<%=list[i].mer_id%>">수정</a>
            </td>
            <td>
                <a href="/merchandise/delete/<%=list[i].mer_id%>" onclick="return confirm('정말로 삭제하시겠습니까?');">삭제</a>
            </td>
            <% } %>
        </tr>
        <% i+=1; } %>
    </table>
<% } %>