<!-- 201935222 김민석 -->
<div class="container">
    <h2>사용자</h2>
    <!-- <form action="/person/create_process" method="post"> -->
    <form action="<%= person.loginid ? '/person/update_process' : '/person/create_process' %>" method="post">
        <% if (!person.loginid) { %>
        <div class="mb-3">
            <label class="form-label" for="id">loginId</label>
            <input class="form-control" type="text" name="loginid" style="width:300px;" value="<%= person.loginid %>" />
        </div>
        <% } else { %>
            <input type = "hidden" name = "loginid" value="<%= person.loginid %>">
        <% } %>

        <div class="mb-3">
            <label class="form-label" for="id">password</label>
            <input class="form-control" type="text" name="password" style="width:300px;" value="<%= person.password %>" />
        </div>
        <div class="mb-3">
            <label class="form-label" for="id">name</label>
            <input class="form-control" type="text" name="name" style="width:300px" value="<%= person.name %>" />
        </div>
        <div class="mb-3">
            <label class="form-label" for="id">address</label>
            <input class="form-control" type="text" name="address" style="width:300px" value="<%= person.address %>" />
        </div>
        <div class="mb-3">
            <label class="form-label" for="id">tel</label>
            <input class="form-control" type="text" name="tel" style="width:300px" value="<%= person.tel %>" />
        </div>
        <div class="mb-3">
            <label class="form-label" for="id">birth</label>
            <input class="form-control" type="text" name="birth" style="width:300px" value="<%= person.birth %>" />
        </div>
        <div class="mb-3">
            <label class="form-label" for="id">class</label>
            <select class="form-control" name="class" style="width:300px">
                <option value="00" <%= person.class === "00" ? "selected" : "" %>>00</option>
                <option value="01" <%= person.class === "01" ? "selected" : "" %>>01</option>
                <option value="02" <%= person.class === "02" ? "selected" : "" %>>02</option>
            </select>
        </div>
        <button class="btn btn-outline-primary btn-sm" type="submit">입력</button>
    </form>
</div>
